@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;/*font-family: 'Nanum Pen Script', cursive;*/ font-family: 'Nanum Brush Script', cursive; }
html, body{margin: 0; padding: 0; }
header, section, article, aside, nav, main, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, main:after, footer:after{content:""; display: block; clear: both;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
p {font-family: 'Nanum Pen Script', cursive;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}
section{height: 100vh;}

body{overflow-x: hidden; background-color:skyblue;}

.first_screen{width: 100%; height: 100vh; background-image: url(../img/background.jpg); background-position: 50% 70%; background-size: cover;position: relative; cursor: none; overflow: hidden;  overflow-y: hidden;}

.first_screen h3{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 45px; color: skyblue;}
.first_screen p{position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); font-size: 36px; color: skyblue;}

.button-container{position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); width: 150px; height: 50px; overflow: hidden; border: none; font-size: 20px; transition: 0.5s;  border-radius: 10px; }
  
.button-container button{width: 100%; height: 100%; font-size: 20px;
letter-spacing: 1px; font-weight: bold; cursor: pointer; background-color: transparent; transition: background-color 0.5s; border: none; cursor: none;} 

.first_screen:hover #cursor{opacity: 1;}
#cursor{position: absolute; width: 20px; height: 20px; border:2px solid #ddd; border-radius:50%; transition: 0.1s; transform: translate(-50%, -50%); pointer-events: none; opacity:0;}

#cursor.active{transform: translate(-50%, -50%) scale(2);}

.button-container button:hover{background-color: skyblue; color: #fff; }

.button-container button:hover ~ #cursor{width: 100px; height: 100px; border-radius:2px dashed #ccc; animation:ani_cursor 5s linear infinite;}
@keyframes ani_cursor{
    0%{transform: translate(-50%, -50%) rotate(0deg);}
    100%{transform: translate(-50%, -50%) rotate(360deg);}
}

.first_screen:after{content: ""; display: none; animation: none;}

/********************header*********************/

header{width: 100%; height: 80px; background-color:rgb(250, 255, 220); z-index: 5; /*transform:translateY(-100%);*/ transition: transform 0.5s; opacity: 0.9;}

header.sticky{position: fixed; top:0; left:0; z-index: 10;}

header.show{transform:translateY(0);}  /*마우스 휠 이벤트로 접근을 한다면 delta = 음수값 나온다면 메뉴바가 보이도록 구성*/

header ul{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
header ul li{margin: 0 20px;}
header ul li a{font-size: 30px; color: #363636; display: block; line-height: 98px}
header ul li.active a{color:#ffccff;}

/*********************main********************/
main{}
main .box{width: 100%;  position: relative;}

main .box .act{left: 0; top: 0; width: 100%; height: 100%; transform: scale(0.9) matrix3d(0.91,0,0.42,0,0.00,1,0.00,0,-0.42,0,0.91,0,0,0,-100,1); transform-origin: 50% 50%; z-index: 0; opacity: 0.5; transition:transform 1s, opacity 1s;}

main .box.active .act{z-index: 3; opacity: 1;transform:scale(1) matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,0,1); }

/******************첫 페이지**********************/
.about{width: 100%;  background-color:honeydew; background-image: url(../img/bg10_1.jpg); background-size: cover; background-position: 50% 90%; background-repeat: no-repeat; } 
.about .act{padding: 7% 5% 5%;}

.about h2{text-align: center; color:#ffddff; font-size: 46px; padding-bottom: 2%;}

.about .intro{width: 100%; display: flex; justify-content: space-between; align-items: center; /*flex-wrap: wrap;*/}

.about .picture{width: calc(25% - 20px); height: auto; position: relative; display: inline-block; margin: 0 10px;  transition:width 0.5s;}
.about .picture .img{width: 100%; height: 100%;}
.about .picture .img img{width: 100%; height: 100%; border-radius: 20px; opacity: 0.9;}
.about .picture .img .outerline{width: 100%; height: 75%; border: 2px solid #f5f5dc; position: absolute; z-index: 2; border-radius: 20px; top: 40px; left: -40px;}

.about .picture .intro_cont p{margin-top: 40px; font-size: 30px; color:moccasin; word-break: keep-all; letter-spacing: 3px;}


.about .cont{margin: 0 10px; font-size: 30px; position: relative;  transition:width 0.5s;}

.about .cont p{margin-bottom: 10px; color:moccasin; line-height: 1.6; word-break: keep-all; letter-spacing: 3px;}

.about .cont p .b{font-weight: bold;}

.about .cont .img{width: 330px; height: 330px; position: relative; top: 50%; border-radius: 50%; shape-outside: circle(); overflow: hidden; margin: 20px; float: left; transform-style: preserve-3d; perspective: 300px; }

.about .cont .img .front{width: 100%; height: 100%; position: absolute; top:0; left:0; backface-visibility: hidden; transition: 0.5s; transform: rotateX(0deg); background-size: cover; background-position: 50% 50%; opacity: 1;}
.about .cont .img .front img{height: 100%; width: 100%;}

.about .cont .img .back{width: 100%; height: 120%;  position: absolute;top:0; left:0;  backface-visibility: hidden; transition: 0.5s; transform: rotateX(180deg); display: flex; justify-content: center; align-items: center; text-align: center; }
.about .cont .img .back img{width: 100%; height: 120%; background-size: cover; background-position: 70% 50%; opacity: 0.8;}

.about .cont .img:hover .front{transform: rotateX(180deg);}

.about .cont .img:hover .back{transform: rotateX(360deg);}

.about .cont .far{font-size: 30px; color:#ffddff; position: absolute; bottom: -30px;}

.about:hover .cont .far{transform: rotate(30deg) scale(120%); }

/*******************skill****************************/
#skill{width: 100%;  background:whitesmoke; background-image: url(../img/bg4＿04.jpg); background-size: cover; background-position: 50% 50%;}

#skill .act{width: 100%; height: 100%;padding: 7% 5% 5%;  position: relative;}
#skill .act > h2{text-align: center; font-size: 46px; color:#fdf; padding-bottom: 2%;}
#skill .act .frame{width: 100%;  display: flex; justify-content: space-between; align-items: center; text-align: center; flex-wrap: wrap;}

#skill .frame .box{ width: calc(100% / 6 - 10px); height: 240px; position: relative;}

#skill .frame .box .cont{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}

#skill .frame .box .cont .top{position: relative; width: 150px; height: 150px; border-radius:50%; box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.26);}

#skill .frame .box .cont .top .num{position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
#skill .frame .box .cont .top .num h2{font-size: 13px; color:moccasin;}
#skill .frame .box .cont .top .num h2 .count{font-size: 20px; color:moccasin;}

#skill .frame .box .cont .bottom{padding-top: 10px; color:moccasin; text-align: center;}


svg{position: relative; width: 150px; height: 150px; z-index: 99;}
svg circle{width: 100%; height: 100%; fill:none; stroke: rgba(234, 226, 245, 0.808); stroke-width: 10; transform: translate(5px, 5px);}
svg circle:nth-child(2){
    stroke-linecap: round; 
    stroke-dasharray: 440; 
    stroke-dashoffset: 440;
    stroke:rgb(229, 252, 176);
    transition: stroke-dashoffset 2s;
}

#circle_bar .box:nth-child(1):hover svg circle:nth-child(2){stroke-dashoffset: calc(440 - (440 * 95) / 100);}
#circle_bar .box:nth-child(2):hover svg circle:nth-child(2){stroke-dashoffset: calc(440 - (440 * 90) / 100);}

#skill h3{text-align: center; font-size: 46px; padding-top: 2%; color:#ffddff ; margin-bottom: 3%; }

#skill .cont_frame{width: 100%; height: auto; max-height: 300px; position: relative;  padding-bottom: 5%;}

#skill .cont_frame .cont_box{width: 100%; height: 300px; display: flex; flex-wrap: wrap;  justify-content: center; align-items: center;}
#skill .cont_frame .cont_box .card{width: calc(100% / 6 - 40px); height: 100%; margin: 0 10px 20px; position: relative;transform-style: preserve-3d; perspective: 900px; border: 2px solid honeydew;}
#skill .cont_frame .cont_box .card .front{width: 100%; height: 100%;position: absolute; top:0; left:0; backface-visibility: hidden; transition: 0.5s; transform: rotateX(0deg); background-size: cover; background-position: 50% 50%; opacity: 0.9;}
#skill .cont_frame .cont_box .card .front img{height: 100%; width: 100%;  }

#skill .cont_frame .cont_box .card .back{width: 100%; height: 100%; background:mistyrose; opacity: 0.8; position: absolute;top:0; left:0;  backface-visibility: hidden; transition: 0.5s; transform: rotateX(180deg); display: flex; justify-content: center; align-items: center; text-align: center;}
#skill .cont_frame .cont_box .card .back .details{}
#skill .cont_frame .cont_box .card .back .details h2{color:#f0f; font-size: 24px;}

#skill .cont_frame .cont_box .card .back .details h4{padding: 10px 0; color: #f90; font-size: 19px; margin-top: 20px;}
#skill .cont_frame .cont_box .card .back .details .cont{padding-top: 20px;}

#skill .cont_frame .cont_box .card .back .details .cont p{font-size: 20px; color: #555; word-spacing: 3px; word-break: keep-all; letter-spacing: 2px;}

#skill .cont_frame .cont_box .card:hover .front{transform: rotateX(180deg);}

#skill .cont_frame .cont_box .card:hover .back{transform: rotateX(360deg);}

/*******************portfolio**********************/
#portfolio{width: 100%;  margin: 0 auto; background-color:blanchedalmond; background-image: url(../img/bg7_7.jpg); background-position: 50% 30%; background-size: cover;position: relative;}
#portfolio .act{width: 100%; height: 100%; position: relative;}
#portfolio .main{text-align: center; }
#portfolio .main .type_wrap{padding-top: 6%; font-size: 46px; color:#ffddff;line-height: 1;}

#portfolio .main .text_type{display: inline-block;}


#portfolio .main .mac{height: 100%; display: flex; align-items: center; justify-content: center; position: absolute; top: 60%; left: 40%; transform: translate(-100%, -50%);} 
#portfolio .main .mac .button{width: 80px; height: 80px; font-size: 25px;text-transform: uppercase; color:#f0f; font-weight: bold; background-color: #ffccff; border: none; border-radius: 45px; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); transition: all 0.3s ease 0s; cursor: pointer; outline: none; } 
#portfolio .main .mac .button:hover {background-color: #538873; box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.877); color: #fff; transform: translateY(-7px);}

#portfolio .backgroud{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color:#fff; opacity: 0; z-index: -2; }

#portfolio .backgroud.active{z-index: 3; opacity: 0.5; transition: opacity 0.5s;}

#portfolio .popup{width: 80%; height: 70%;  position: fixed; top: 55%; left: 50%; transform: translate(-50%, -50%); z-index: -1; opacity: 0; padding: 2% 3%; }

#portfolio .popup.active{z-index: 3; opacity: 1; transition: opacity 0.7s;}

#portfolio .popup ul{}
#portfolio .popup ul.slick-initialized{height: 600px; }
#portfolio .popup ul li{}
#portfolio .popup .slick-dots{bottom:-5%; }
#portfolio .popup .slick-dots li button:before{font-size: 30px; opacity: 1; color:brown;}
#portfolio .popup .slick-dots li.slick-active button:before{color:#fa0;}
#portfolio .popup .slick-arrow{z-index: 100; transition: left 1s, right 1s; color: #fa0;} 
#portfolio .popup .slick-prev{ border-radius: 50%; padding-bottom: 0%; line-height: 1; width: 60px; height: 60px; background-image: url(../img/arrow_left.svg); background-color: transparent;}
#portfolio .popup .slick-next{border-radius: 50%; padding-bottom: 0%; line-height: 1; width: 60px; height: 60px; background-image: url(../img/arrow_right.svg); background-color: transparent;}
#portfolio .popup:hover .slick-prev{left: 25px;  }
#portfolio .popup:hover .slick-next{right: 25px; }

#portfolio .popup .slick-prev:before{content:"";}
#portfolio .popup .slick-next:before{content:"";}

#portfolio .popup ul li .wrap{width: auto; height: 100%; margin: 0 auto; }
#portfolio .popup ul li .wrap > div{width: calc(70% - 40px); height: 560px; max-width: 835.09px; max-height: 691.19px;}

#portfolio .popup ul li .wrap > div.port_img{position: relative; margin: 0 auto;}
#portfolio .popup ul li .wrap > div.port_img .site_img{position: absolute; top:2.9%; left:50%; transform: translate(-50%, 0%); width: 94%; height: 75%; background-color: #aff; background-size: 100%; background-position: 0 0; transition: background-position 7s linear;}

#portfolio .popup ul li .wrap > div.port_img:hover .site_img{background-position: 0 100%;}

#portfolio .popup ul li .wrap > div.port_img .frame_img{width: 100%;height: 100%; background-image: url(../img/frame_pc.png); background-size: 100% 100%; background-position: 50% 20%; background-repeat: no-repeat; position: absolute; top:0; left:0; z-index: 1;}

#portfolio .popup ul li .wrap > div.port_img .memo{position: absolute; top: 70%; right: 22%; width: 145px; height: auto; max-width: 200px; max-height: 175px; padding: 10px; transform: rotate(-13deg); background-color: #ffe345; box-shadow: 1px 1px 3px #555; z-index: 4; text-align: center;}

#portfolio .popup ul li .wrap > div.port_img .memo h2{color:#f56; font-weight: bold; font-size: 36px;}
#portfolio .popup ul li .wrap > div.port_img .memo p{color
    :rgb(151, 115, 74); font-weight: 700; font-size: 20px; word-break: keep-all;}

#portfolio .popup ul li .wrap > div.port_img .link{position: absolute; top: 70%; right: 2%; width: 145px; height: auto; max-width: 200px; max-height: 175px; padding: 10px; transform: rotate(7deg); background-color:#fcf; box-shadow: 1px 1px 3px #555; z-index: 4; text-align: center;}

#portfolio .popup ul li .wrap > div.port_img .link a{font-weight: bold; font-size: 36px;}
#portfolio .popup ul li .wrap > div.port_img .link a span{ font-size: 28px;}


/********************sentences*************************/
#sentences{width: 100%;  background:whitesmoke; background-image: url(../img/bg5_1.jpg); background-size: cover; background-position: 50% 50%;}

#sentences .act{width: 100%; height: 100%;padding: 7% 5% 5%;  position: relative;}
#sentences .act .main{width: 100%; display: flex; justify-content: center; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#sentences .act .main .left_part{width: 20%; }
#sentences .act .main .left_part h2{font-size: 36px; color:#fef;}
#sentences .act .main .right_part{margin-left: 3%; padding-top: 5%;}
#sentences .act .main .right_part ul{}
#sentences .act .main .right_part ul li{margin-bottom: 10px;}
#sentences .act .main .right_part ul li p{font-size: 28px;  color:rgb(111, 59, 196);}
#sentences .act .main .right_part button{background: transparent; border:2px solid rgb(111, 59, 196);; border-radius: 20px; padding: 15px; margin-top: 50px; transition: background-color 0.5s;}
#sentences .act .main .right_part button a{font-weight: bold; font-size: 28px; color: rgb(111, 59, 196); width: 100%; height: 100%; }

#sentences .act .main .right_part button:hover{background-color: #fef; color: #ffe345;}

/*********************contact*************************/

#contact{width: 100%;  background:whitesmoke; background-image: url(../img/bg1_1.jpg); background-size: cover; background-position: 50% 70%;}
#contact .act{width: 100%; height: 100%;padding: 12% 0;  position: relative; margin: 0 auto;}

#contact .act > h3{text-align: center; color: #fdf; font-size: 46px; padding: 2% 0;}
#contact .act > p{text-align: center; color: #fef; font-size: 36px; padding-bottom: 3%;}

#contact .act .intro{width: 70%; height: auto; margin: 0 auto;}
#contact .act .intro ul{width: 100%;}
#contact .act .intro ul li{width: 33%; text-align: center; float: left;}
#contact .act .intro ul li p{font-size: 28px; color:#fef; padding: 20px 0;}
#contact .act .intro ul li h2{width: 80px; height: 80px; border: 1px solid rgb(111, 59, 196); transform: rotate(45deg); border-radius: 3px; margin: 30px auto; transition: background-color 0.5s;}
#contact .act .intro ul li h2 a{font-size: 36px; color: rgb(90, 32, 184); }
#contact .act .intro ul li h2 a i{transform: rotate(-45deg); display: block; line-height: 80px; width: 80px; height: 80px;}

#contact .act .intro ul li h2:hover{background-color:rgb(250, 255, 220); }

@media (max-width:1300px){
    main .box .act{opacity: 1;}
    .first_screen h3{color:indigo;}
    .first_screen p{color:indigo;}
    #portfolio .popup ul li .wrap > div.port_img .memo{right: 40%;}
}

@media (max-width:1199px){
    main .box .act{opacity: 1;}
    section{height: auto;}
    .about .intro{align-items: flex-start;}
    .about .act > h2{margin-top: 5%;}
    .about .picture{width: calc(50% - 20px); }
    .about .picture .outerline{top:20px; left:-20px;}
    .about .cont{width: calc(50% - 20px);}
    .about .cont .img{display: none;}
    .about .cont p{font-size: 26px;}
    .about .cont .far{display: none;}

    #skill{}
    #skill .act{padding: 0;}
    #skill .frame .box{width: calc(100% / 3 - 10px); }

    #skill .cont_frame .cont_box .card{width: calc(100% / 3 - 40px); height: 250px;}
    #skill .cont_frame{max-height: initial;}
    #skill .cont_frame .cont_box{height: auto;}
    #skill .cont_frame .cont_box .card .back .details h4{margin-top: 0px; padding: 0;}
    #skill .cont_frame .cont_box .card .back .details .cont{padding-top: 0px;}
    #skill .cont_frame .cont_box .card .back .details .cont p{font-size: 17px;}

    #portfolio{height: 100vh;}
    #portfolio .popup ul.slick-initialized{height: 80%; }
    #portfolio .popup ul li .wrap{width: auto;}
    #portfolio .popup ul li .wrap > div.port_img .memo{right: 40%;}

    #sentences{height: 100vh;}
    #sentences .act .main{display: block; text-align: center;}
    #sentences .act .main .left_part{width: 100%;}
    #sentences .act .main .right_part{margin-left: 0;}

    #contact{height: 100vh;}
}

@media (max-width:900px){
    #contact{height: 1100px;}
    #contact .act .intro ul{display: block; }
    #contact .act .intro ul li{display: inline-block; margin: 0 7%; float: none;}
    #contact .act .intro ul li:last-child{margin: 0 30%;}
    
    #contact .act .intro ul li h2{margin: 5px auto;}

    #portfolio .popup .slick-next, #portfolio .popup .slick-prev{width: 20px; height: 20px;}

    #portfolio .popup ul li .wrap > div.port_img .memo{width: 100px;}
    #portfolio .popup ul li .wrap > div.port_img .memo h2{ font-size: 25px;}
    #portfolio .popup ul li .wrap > div.port_img .memo p{ font-size: 12px; word-break: keep-all;}
    #portfolio .popup ul li .wrap > div.port_img .link{width: 100px;}
    #portfolio .popup ul li .wrap > div.port_img .link a span{ font-size: 22px;}
    #portfolio .popup ul li .wrap > div.port_img .link a{font-size: 22px;}
}

@media (max-width:716px){
    .first_screen h3{font-size: 36px;  }
    .first_screen p{font-size: 28px; }
}

@media (max-width:700px){
    header{opacity: 0; z-index: -10; height: 0;}
    header.sticky{z-index: -10;}

    #contact .act > p{word-break: keep-all;}
    #contact .act > h3{word-break:keep-all;}
}

@media (max-width:700px){
    #contact{height: 1000px;}
    #contact .act .intro ul{width: 100%;}
    #contact .act .intro ul li{display: block; float: none; margin: 0 auto;}
}

@media (max-width:575px){
    .first_screen{background-position: 50% 0%;}
    .first_screen h3{font-size: 32px; width: 60%; padding-left: 5%;}
    .first_screen p{font-size: 25px; width: 60%; padding-left: 5%;}
    .about .intro{flex-direction: column; justify-content: center;}
    .about .picture .img{margin-top: 6%;}
    .about .picture .img .outerline{display: none;}
    .about .intro > h2{padding-top: 5%;}
    .about .picture{width: calc(100% - 20px); display: flex; align-items: center;}

    .about .picture img{width: 60%; }
    .about .picture .outerline{width: 60%;}
    .about .picture p{padding-left: 20px; margin-top: 0; font-size: 24px;}
    .about .cont{padding-top: 40px; width: calc(100% - 20px);}
    .about .cont p{line-height: 1.3;}
    .about .cont .far{display: none;}

    #skill .frame .box{width: calc(100% / 2 - 10px); }

    #skill .cont_frame .cont_box .card{width: calc(100% / 2 - 40px); height: 250px;}

    #portfolio{height: 780px;}
    #portfolio .popup ul li .wrap > div.port_img .memo{right: 40%;}
   
   
   
}
@media (max-width:554px){
    #portfolio .popup ul li .wrap > div.port_img .memo{display: none;}
}

@media (max-width:452px){
    .first_screen{background-position: 50% 0%;}
    .first_screen h3{font-size: 25px; width: 60%; padding-left: 5%;}
    .first_screen p{font-size: 22px; width: 60%; padding-left: 5%;}
    .about .intro{flex-direction: column; justify-content: center;}

    #portfolio .popup .slick-dots li{margin: 0 1px;}
   
}

@media (max-width:376px){
    .first_screen h3{font-size: 20px; width: 60%; padding-left: 5%;}
    .first_screen p{font-size: 16px; width: 60%; padding-left: 5%;}
}


